configuration {
    modi: "drun,run";
    show-icons: true;
    display-drun: "Apps";
    display-run: "Run";
    drun-display-format: "{name}";
    disable-history: false;
    sidebar-mode: false;
}

@theme "catppuccin-mocha-alacritty.rasi"
